.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answers {
  margin-bottom: 1rem;
}

.answers div {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  gap: 1rem;
}

.navBtn {

    color: #fff;
    font-size: 16px;
    width: 124px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    margin-right: 16px;
    -webkit-transition: all 300ms cubic-bezier(.25,.46,.45,.94);
    transition: all 300ms cubic-bezier(.25,.46,.45,.94);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

